[Desktop Entry]
Name=Wallrus
Comment=Generate abstract wallpapers using shaders
Exec=wallrus
Icon=io.github.megakode.Wallrus
Terminal=false
Type=Application
Categories=Graphics;GTK;
Keywords=wallpaper;shader;gradient;abstract;
StartupNotify=true
